body {
	background-color: white;
	margin: 0;
}

header {
	position: static;
	top: 0;
	margin: 0;
	padding: 0.25vw 0.030vw;
	background-color: white;
	display: grid;
	grid-template-columns: auto auto;
}

h1 {
	font-family: Poppins, SemiBold;
	font-size: 2vw;
	color: black;
	width: auto;
	padding-bottom: 0.417vw;
	margin: 0;
}

p {
	font-family: Poppins, SemiBold;
	font-size: 2vw;
	color: black;
	margin: 0;
}


#naslov {
	margin-left: 15vw;
}

#meni {
	justify-self: end;
	margin-right: 15vw;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


main {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 15vh 15vw;
	grid-column-gap: 2vw;
	grid-row-gap: 1.5vw;
}

.projekat img {
	max-width: 100%;
	height: auto;
}

p1 {
	font-family: Poppins, SemiBold;
	font-size: 1.3vw;
	color: black;
}

#tekst {
	margin-left: 28vh;
	margin-top: 7vh;
}


@media only screen and (max-width: 999px) {
  main {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 0.781vw;
  }

header {
	position: static;
	top: 0;
	margin: 0;
	padding: 0.2vw 0.020vw;
	background-color: white;
}

h1 {
	font-family: Poppins, SemiBold;
	font-size: 4vw;
	color: black;
	-webkit-text-size-adjust: 100%;
}

p {
	font-family: Poppins, SemiBold;
	font-size: 4vw;
	color: black;
	-webkit-text-size-adjust: 100%;
	
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#naslov {
	margin-left: 6vw;
}
#meni {
	margin-right: 6vw;
}

  p1 {
	font-family: Poppins, SemiBold;
	font-size: 3vw;
	color: black;
}

#tekst {
	margin-left: 6vh;
	margin-top: 7vh;
}

}

@media only screen and (min-width: 1000px) {
 main {
    display: grid;
	grid-template-columns: auto auto auto;
	margin: 15vh 15vw;
	grid-column-gap: 2vw;
	grid-row-gap: 1.5vw;
  }
  
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


header {
	position: static;
	top: 0;
	margin: 0;
	padding: 0.25vw 0.030vw;
	background-color: white;
	display: grid;
	grid-template-columns: auto auto;
}

h1 {
	font-family: Poppins, SemiBold;
	font-size: 2vw;
	color: black;
	width: auto;
	padding-bottom: 0.417vw;
	margin: 0;
}

p {
	font-family: Poppins, SemiBold;
	font-size: 2vw;
	color: black;
	margin: 0;
}


#naslov {
	margin-left: 15vw;
}

#meni {
	justify-self: end;
	margin-right: 15vw;
}

.projekat img {
	max-width: 100%;
	height: auto;
}

p1 {
	font-family: Poppins, SemiBold;
	font-size: 1.3vw;
	color: black;
}

#tekst {
	margin-left: 28vh;
	margin-top: 7vh;
}

}

